
.custom-footer {
  position: relative;
  left: 0;
  width: 100vw;         /* ocupa todo el ancho */
  max-width: 100%;      /* evita overflow */
  overflow-x: hidden;   /* no scrollbar horizontal */
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  font-size: 0.85em;
  padding: 10px 15px;
  border-top: 1px solid;
  box-sizing: border-box;
}

/* Modo claro */
body.quarto-light .custom-footer {
  background-color: #f8f9fa;
  color: #444;
  border-color: #ddd;
}

/* Modo oscuro */
body.quarto-dark .custom-footer {
  background-color: #222;
  color: #bbb;
  border-color: #444;
}

/* Logo */
.footer-logo img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}

.logo-dark {
  display: none;
}

body.quarto-dark .logo-light {
  display: none;
}

body.quarto-dark .logo-dark {
  display: inline;
}

/* Modo claro: Se aplica a body.quarto-light */
body.quarto-light blockquote {
  /* Fondo y color de texto */
  background-color: #f8f9fa; /* Gris muy claro, similar al footer */
  color: #444; /* Gris oscuro para el texto */
  
  /* Borde o barra vertical a la izquierda para distinguirlo */
  border-left: 5px solid #2e66e4;
}

body.quarto-dark blockquote {
  /* Fondo y color de texto */
  background-color: #222; /* Gris oscuro para el fondo */
  color: #bbb; /* Gris claro para el texto */
  
  /* Borde o barra vertical a la izquierda */
  border-left: 5px solid #2e66e4; 
}

.titulo-presentacion {
  font-size: 1.5em; /* 1.5 veces el tamaño normal */
  color: #2e66e4;
  font-weight: bold;
  /* Espacio extra abajo para separarlo del título numerado */
  margin-bottom: 1em; 
}

div.sourceCode {
  max-height: 250px;
  overflow-y: auto;
}
